/* Arion Edits ( Arion#1223 )  */

@keyframes rainbow {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
  }
}

@keyframes bodyanim{
	0% { border-color: red; }
	25% { border-color: yellow; }
	50% { border-color: green; }
	75% { border-color: blue; }
	100% { border-color: purple; }
}

.el-dialog__body
{
  border: 1px solid;
  border-color: #00a1ff;
  animation: bodyanim 10s infinite linear;
}
 
.el-button.is-circle 
{
  animation: rainbow 10s infinite linear;
  border-color: #00a1ff!important;
  border-radius: 25%!important;
}
