/* Arion Edits ( Arion#1223 )  */

@keyframes _rainbow {
  from 
	{
    -webkit-filter: hue-rotate(0deg);
	}
  to 
  {
    -webkit-filter: hue-rotate(360deg);
  }
}

@keyframes .el-dialog__bodyAnim
{ /* red yellow green blue purple */
	0% { border-color: #00a1ff; } 
	25% { border-color: purple; }
	50% { border-color: red; }
	75% { border-color: yellow; }
	100% { border-color: green; }
}

.x-tag-legendary
{
	animation: _rainbow 15s infinite linear;
}

.el-dialog__body
{
  border: 1px solid;
  border-color: #00a1ff;
  animation: .el-dialog__bodyAnim 10s infinite linear;
}
 
.el-button.is-circle 
{
  animation: _rainbow 10s infinite linear;
  border-color: #00a1ff!important;
  border-radius: 25%!important;
}
