/* Arion Edits ( Arion#1223 )  */
--AnimationDelay: 10;
@keyframes rainbowmention {
  from {
    -webkit-filter: hue-rotate(0deg);
	-border-filter: 
  }
  to {
    -webkit-filter: hue-rotate(360deg);
  }
}


.el-button.is-circle {
animation: rainbowstatus var(--AnimationDelay)s infinite linear;
border-color: ##00a1ff!important;
}

@keyframes rainbowstatus {
from {
  -webkit-filter: hue-rotate(0deg);
}
to {
  -webkit-filter: hue-rotate(360deg);
